.env

config/lidarr/*
!config/lidarr/.gitkeep
config/navidrome/*
!config/navidrome/.gitkeep

data/downloads/*
!data/downloads/.gitkeep
data/incoming/*
!data/incoming/.gitkeep
data/media/*
!data/media/.gitkeep
appdata/music-ingest/*
!appdata/music-ingest/.gitkeep
